
.AddItemHeight{
    height: 100vh;
    width: 100%;
}
.SearchItemHeight{
    background-color: green;
    height: 100vh;
    width: 100%;
}

.BrandCategoryMain{

    height: 100vh;
    width: 100%;
}

.itemColorMain{
    height: 100vh;
    width: 100%;
}
