#parallaxintro .view {
   /* background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    left: -20px !important;
}

.AddItemHeight{
    width: 100%;
}

.h1col{
    color: #2bbbad;
}

.rounded{
    border-radius: 50%;
}

.searchC{
    position: relative;
    left: 70%;
}

.charts{
    height: 560px !important;
}

.feedbackdiv2{
    background-color: #E5E8E8  ;
}

.feedbackcard{
    height: 550px !important;
}
